.project {
margin: 20px;
word-wrap: break-word;
width: 200px;
text-align: left;
position: static;
border: solid black 2px;
border-radius: 3%;
box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;  
-webkit-transition: -webkit-transform .4s ease-in-out;
transition:         transform .4s ease-in-out;
background-color: rgba(0, 0, 0, 0.75); 
display:inline-block
}



.project:hover {
    -webkit-transform: scaleY(1.1) scalex(1.1);
    transform: scaleY(1.1) scalex(1.1);
}

.project-title {
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
.project-category {
    padding: 10px;
    word-wrap: break-word;
    color: whitesmoke;
}



.project-image {
    border-bottom: solid black 2px
}

a:hover {
    text-decoration: none;      
}

