body {    
    background: url("https://source.unsplash.com/collection/8945062/1920x1080") no-repeat center center fixed;     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


#myName {
    color: black;
}
html {
     height:100%; 
}






.layer {
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto; 
  
}

#aboutMe-container {
    margin: 10% auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
}



@media only screen and (max-width: 482px){ 
   .layer{
         overflow: scroll;
   }
    }

@media only screen and (min-width: 483px){ 
   .layer{
         overflow: hide;
   }
    }