body {    
    background: url("https://source.unsplash.com/collection/8945062/1920x1080") no-repeat center center fixed;     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}


#myName {
    color: black;
}


.layer {
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#aboutMe-container {
    margin: 40px auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
}



@media only screen and (min-width: 1440px){ 
    body  {
    background: url("https://source.unsplash.com/collection/8945062/2560x1080") no-repeat center center fixed;     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    };
    .layer {
        background-color: rgba(0, 0, 0, 0.50);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    }