.NavBarLinks  {      
    margin: 40px;
    color: whitesmoke;    
    font-size: 25px;
    text-shadow: 0 1px 1px whitesmoke, 0 1px 1px whitesmoke;
    
    }
.NavBarLinks:hover {
    text-decoration: none;    
    color: whitesmoke ;     
}

.active {
    text-decoration: none;   
    font-size: 35px;    
    position: flex;
    /* color: #fd5e53  */
    
   
}

.NavBarIcons {
    float: right;
    margin-bottom: 10px;
}

#NavBarLinks-container{
    /* text-align: center; */
    
    
}

#NavBarLinks-container {
    background: transparent
}



@media only screen and (max-width: 500px){ 
    .NavBarLinks  {
        margin: 5px;
    }
    }

@media only screen and (max-width: 540px){   
    .NavBarIcons {
        float: none;
        text-align: center;        
    }
    #NavBarLinks-container{
        text-align: center;
    }
    .NavBarLinks  { 
    font-size: 20px; 
    }    
    .active {       
    font-size: 25px;    
   
}
    }

@media only screen and (max-width: 700px){ 
    .NavBarLinks  {
        margin: 20px;
        
    }
    }




