.NavBarLinks  {      
    margin: 20px;
    color: whitesmoke;    
    font-size: 25px;
    text-shadow: 0 1px 1px whitesmoke, 0 1px 1px whitesmoke;
    
    }
.NavBarLinks:hover {
    text-decoration: none;    
    color: whitesmoke;
}

.active {
    text-decoration: none;    
    font-size: 40px;
    
}

#NavBarLinks-container{
    /* text-align: center; */
    text-align: center;
    
}

#NavBarLinks-container {
    background: transparent
}

#NavBar {
    position: relative;
    
}




